.app {
	.container {
		display: flex;
		justify-content: center;
		gap: 10px;

		div {
			.card {
				margin-bottom: 10px;
				width: 560px;
				height: 60px;
				.card-body {
					padding: 0px 10px;
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
